<!-- MODAL CHANGE PASSWORD -->
<h1 md-dialog-title>Change Password</h1>

<form #passwordForm="ngForm" class="container-fluid" *ngIf="user">
    <div md-dialog-content>

        <!-- OLD PASSWORD FOR PROFILE -->
        <md-input-container class="full-width" *ngIf="!id">
            <input mdInput type="password" placeholder="Old Password" #password_old='ngModel' [(ngModel)]="passwordOld" name="passwordOld" id="passwordOld" required [errorStateMatcher]="passwordError.bind(this)">
            <md-error>Old password not vaid</md-error>
        </md-input-container>

        <!-- ADMIN PASSWORD FOR EDIT USER -->
        <md-input-container class="full-width" *ngIf="id">
            <input mdInput type="password" placeholder="Admin Password" #password_admin='ngModel' [(ngModel)]="passwordAdmin" name="passwordAdmin" id="passwordAdmin" required [errorStateMatcher]="passwordError.bind(this)">
            <md-error>Admin password not vaid</md-error>
        </md-input-container>

        <!-- CURRENT PASSWORD -->
        <md-input-container class="full-width">
            <input mdInput type="password" placeholder="New Password" #password_new='ngModel' [(ngModel)]="passwordNew" name="passwordNew" id="passwordNew" required >
            <md-error>The password is required</md-error>
        </md-input-container>

        <!-- CONFIRM PASSWORD -->
        <md-input-container class="full-width">
            <input mdInput type="password" placeholder="Confirm New Password" #password_new_confirm='ngModel' [(ngModel)]="passwordNewConfirm" name="passwordNewConfirm" id="passwordNewConfirm" required [errorStateMatcher]="passwordsMismatch.bind(this)">
            <md-error>The passwords missmatch</md-error>
        </md-input-container>
    </div>
    
    <!-- BUTTON BAR -->
    <div md-dialog-actions class="mt-40">
        <button md-raised-button type="submit" color="primary" *ngIf="!id" (click)="changePassword(passwordForm.valid)" >Confirm</button>
        <button md-raised-button type="submit" color="primary" *ngIf="id" (click)="changePasswordByAdmin(passwordForm.valid)" >Confirm</button>
        <button md-button (click)="close()">Cancel</button>
    </div>

</form>